.entireView {
    /* border: 2px solid orange; */
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.remainingPane {
    width: 100vw;
    height: 100vh;
}

.topNav {
    display: flex;
    justify-content: space-between;
    margin-left: 150px;
    height: 80px;
    background-color: white;
    border-bottom: 1px solid lightgray;
    position: fixed;
    right: 0px;
    left: 0px;
    top: 0px;
}

.logo {
        padding-left: 30px;
        font-size: 2.5em;
        display: flex;
        align-content: space-around;
        align-items: center;
}

.addGoalButton {
    height: 100%;
    /* border: 1px solid white; */
    background-color: rgb(65, 64, 64);
    font-size: 70px;
    width: 76px;
    color: white;
    cursor: pointer;
}

.containFourColumns {
    display: flex;
    margin-top: 80px;
    height: 90vh;
}

.column2, .column3 {
    width: 400px;
    height: 100%;
    display: flex;
    border: 1px solid lightgray;
    flex-direction: column;
}

.column2 {
    padding: 5px 20px;
}

.column1 {
    width: 150px;
    /* border: 2px solid lightblue; */
    background-color: rgb(65, 64, 64);
    height: 100%;
}

.centerColumn2 {
    display: flex;
    flex-direction: column;
}

.column4 {
    background-color: lightblue;
    width: 100%;
}

.column3 {
    overflow: scroll;
}

.column3::-webkit-scrollbar {
        Display:none;
}

