.dialog {
    min-width: 15rem;
    min-height: 5rem;
    padding: 2%;
    border: 2px solid rgba(11, 206, 193, 0.584);
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 99;
  }

  .doesNotExist {
    padding-bottom: 10px;
  }

  .button--close {
    max-width: 100px;
  }
  
  .login-body {
    background-image: url(https://i.postimg.cc/sxF5Yd7k/CAPSTONE-LOGIN.png);
    width: 100%;
    height: 100%;
    max-height: 100%;
    margin: 0;
    padding: 0;
    background-size:110% 100%;
    background-repeat: no-repeat;
    border: 2px solid rgb(245, 245, 245);
    padding-top: 24%;
    /* margin: 0; */
    /* padding: auto; */
    /* padding-bottom: 32%; */
    /* height: auto; */
  }

.loginTitle, h1 {
    font-family: 'Cormorant Garamond', serif;
    color: rgb(99, 99, 99);
    font-size: 70px;
    font-weight: 500;
    /* color: rgb(36, 34, 34); */
    /* margin-top: 100px; */
  }

  /* .reactLoginForm {
    border: 2px solid gold;
  } */
  
  .container--login {
    display: flex;
    flex-direction: column;
    width: 43%;
    /* height: 36%; */
    margin: 2%;
    margin-bottom: 4%;
    padding-bottom: -50px;
    /* margin: 10% 15%; */
  }
  
  .sign-in {
    /* background-color: rgb(124, 165, 241); */
    padding: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 1rem;
  }

  .formSection {
    margin-left: 140px;
  }

  .ui.placeholder.segment {
    background: transparent;
    background-color: transparent;
    min-height: 0;
  }

  .repoBMG {
    transition: .5s;
  }

  .repoBMG:hover {
    transform: scale(1.5);
  }